<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
   <link rel="stylesheet" href="../Public/css/Main.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height: 87%;">
        <div class="lef-side col-side  ">
          <div
            class="container-fluid content"
            style="padding-left: 15px !important"
          >
            <h4 class="text-white">...</h4>
            <div class="controls mb-3">
              <button class="btn">
                <img src="../Public/images/home.png" class="btn-img" alt="" />
                <span class="btn-text"> Home </span>
              </button>
              <button class="btn">
                <img src="../Public/images/search.png" class="btn-img" alt="" />
                <span class="btn-text"> Search </span>
              </button>
              <button class="btn">
                <img src="../Public/images/library.png" class="btn-img" alt="" />
                <span class="btn-text"> Your Library </span>
              </button>
            </div>
            <div class="controls" style="margin-top: 35px;">
                <button class="btn">
                    <img src="../Public/images/add.png" class="btn-img" alt="" />
                    <span class="btn-text"> Create Playlist </span>
                  </button>
                <button class="btn">
                    <img src="../Public/images/heart.png" class="btn-img" alt="" />
                    <span class="btn-text"> Liked Songs  </span>
                  </button>
            </div>
            <hr>
          </div>
        </div>
        <div class="middle col-middle"></div>
        <div class="right-side col-side ">
            <div class="container-fluid p-0">
                <div class="app">
                    <span class="app-control">
                        <img src="../Public/images/min.png" alt=""  class="app-control-img" srcset="">
                    </span>
                    <span class="app-control">
                        <img src="../Public/images/max.png" alt=""  class="app-control-img" srcset="">
                    </span>
                    <span class="app-control">
                        <img src="../Public/images/close.png" alt=""  class="app-control-img" srcset="">
                    </span>
                </div>
            </div>

        </div>
        </div>
       <div class="row bg-grad" style="height: 13%;">
         
               <div class="col-3">
                   <div class="row">
                       <div class="col-2 mt-8" >
                           <img src="../Public/images/iris.png" class="track-img" id="track-img" alt="" srcset="">
                       </div>
                       <div class="col-6 mt-8">
                             <a href="javascript:void()" style="font-size: 16px;" class="col-12 col-d text-smoke d-block " id="track-title" > Track Name  </a>
                             <a href="javascript:void()" style="font-size: 14px;" class="col-12 text-smoke col-d "  id="track-artist" >Track Artist</a>
                       </div>
                       <div class="col-4 mt-8" style="margin-top: 20px;">
                               <div class="track-controls">
                                <a href="javascript:void()" class="col-6 col-d" >
                                    <img src="../Public/images/to-like.png" class="track-control-img" alt="" srcset="">
                                </a>
                                <a href="javascript:void()" class="col-5 offset-1 col-d" >
                                    <img src="../Public/images/remove.png" class="track-control-img" alt="" srcset="">
                                </a>
                               </div>
                       </div>
                   </div>
               </div>
               <div class="col player-box">
                    <audio  hidden  id="player" src="../Public/audio/kahf.mp3"  controls>
                        Your browser does not support the
                    <code>audio</code> element.
                    </audio>
                    <div class="row" style="height: 70%;">
                            <div class="col-8   player-controls" style="margin-left: 30%;">
                                   
                                            <button class="btn player-btn">
                                                <img src="../Public/images/shuffle.png" class="player-control-img" alt="" srcset="">
                                            </button>
                                            <button class="btn player-btn">
                                                <img src="../Public/images/previous.png" class="player-control-img" alt="" srcset="">
                                            </button>
                                            <button class="btn player-btn" onclick="play()"  >
                                                <img src="../Public/images/play.png" style="width: 30px;height: 30px;" class="player-control-img" alt="" srcset="">
                                            </button>
                                            <button class="btn player-btn">
                                                <img src="../Public/images/next.png" class="player-control-img" alt="" srcset="">
                                            </button>
                                            <button class="btn player-btn">
                                                <img src="../Public/images/repeat.png" class="player-control-img" alt="" srcset="">
                                            </button>
                                         
                                
                            </div>
                    </div>
                    <div class="row" style="width: 97%;">
                        <div class="col-1">
                            <span class="color-d" id="played">00:00</span>

                        </div>
                        <div class="col-10">
                            <input type="range" style="margin-top: 5px;" onchange="Seed()" min="0" value="0" max="100" class="styled-slider slider-progress" id="playedRange">
                        </div>
                        <div class="col-1">
                            <span class="color-d"  id="total">00:00</span>

                        </div>
                    </div>
               </div>
               <div class="col-side">
                   
               </div>
         
       </div>
      </div>
       <script>
           var exports  = {};
       </script>
      <script src="../Scripts/Main.script.js"></script>
    </div>
  </body>
</html>
